@font-face {
  font-family: "Rajhandi";
  src: url("../assets/fonts/Rajdhani-SemiBold.ttf") format("ttf"),
    url("../assets/fonts/Rajdhani-SemiBold.woff") format("woff");
}

:root {
  --primary-color-1: #110f2a;
  --primary-color-2: #524dd0;
  --accent-color: #00ffec;
  --gray-color: #f7f7f7;
  --black-color: #000;
  --white-color: #fff;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Rajhandi, sans-serif;
}

body {
  height: 100vh;
}

/* Header met logo en menu */

header {
  display: flex;
  justify-content: space-between;
  height: 84px;
  width: 100%;
  background: var(--primary-color-2);
}

.logo-top {
  display: flex;
  justify-content: flex-start;
  width: 130px;
  margin-left: 2em;
  margin-top: auto;
  margin-bottom: auto;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 3em;
  margin-top: auto;
  margin-bottom: auto;
  gap: 2em;
}

.menu-tabs {
  list-style: none;
  margin-right: 2em;
  font-size: 1em;
  color: var(--white-color);
  cursor: pointer;
  transition: 0.4s;
}

.menu-tabs:hover {
  /* color: rgb(117, 117, 117); */
  color: var(--primary-color-1);
}

/* Section met kaart */

section {
  background-color: var(--white-color);
  height: 624px;
}

/* Articles*/

article:nth-child(even) {
  background-color: var(--primary-color-2);
  height: 314px;
}

article:nth-child(odd) {
  background-color: var(--white-color);
  height: 314px;
}
