:root {
  --primary-color-1: #110f2a;
  --primary-color-2: #524dd0;
  --accent-color: #00ffec;
  --gray-color: #f7f7f7;
  --black-color: #000;
  --white-color: #fff;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hotpink;
  height: 100vh;
}

header {
  display: block;
  background: var(--primary-color-2);
}

.logo-top {
  display: flex;
  justify-content: flex-start;
  width: 130px;
  margin-left: 2em;
}

.menu {
  height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 3em;
}

.menu-tabs {
  list-style: none;
  margin: 1em;
  font-size: 1.2rem;
  color: var(--white-color);
  cursor: pointer;
}

section {
  background-color: var(--white-color);
  height: 50em;
}

article:nth-child(even) {
  background-color: var(--primary-color-2);
  height: 10em;
}

article:nth-child(odd) {
  background-color: var(--white-color);
  height: 10em;
}
