@font-face {
  font-family: "Rajhandi";
  src: url("../assets/fonts/Rajdhani-SemiBold.ttf") format("ttf"),
    url("../assets/fonts/Rajdhani-SemiBold.woff") format("woff");
}

:root {
  --primary-color-1: #110f2a;
  --primary-color-2: #524dd0;
  --accent-color: #00ffec;
  --gray-color: #f7f7f7;
  --black-color: #000;
  --white-color: #fff;
  /* font-size: min(calc(1em + 1vw), 4em); */
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Rajhandi, sans-serif;
  font-size: 1em;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

/* Header met logo en menu */

header {
  display: flex;
  justify-content: space-between;
  height: 5.25em;
  width: 100%;
  background: var(--primary-color-2);
}

.logo-top {
  display: flex;
  justify-content: flex-start;
  height: 5.25em;
  margin-left: 2em;
  margin-top: auto;
  margin-bottom: auto;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 3em;
  margin-top: auto;
  margin-bottom: auto;
  gap: 2em;
}

.menu-tabs {
  list-style: none;
  margin-right: 2em;
}

.menu-button {
  border: none;
  color: var(--white-color);
  background-color: var(--primary-color-2);
  font-size: 1em;
  cursor: pointer;
  transition: 0.4s;
}

.menu-button:hover {
  color: var(--primary-color-1);
}

/* Section met kaart */

section {
  background-color: var(--white-color);
  height: 39em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 5em;
  padding-right: 5em;
}

h1 {
  font-size: 3em;
  color: var(--black-color);
  /* margin-left: 2em; */
}

.nl-map {
  height: 30em;
}

/* Articles*/

article {
  height: 19.625em;
  width: 100%;
}

article:nth-child(even) {
  background-color: var(--primary-color-2);
  color: var(--white-color);
}

article:nth-child(odd) {
  background-color: var(--white-color);
}

h2 {
  font-size: 2em;
  padding-left: 1em;
  padding-top: 1em;
  display: block;
  height: 2em;
}

.citymap {
  height: 12em;
  margin: 2em;
  border-radius: 1rem;
}

.info-city {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.info-zone {
  display: flex;
  flex-direction: column;
  width: 12em;
  margin: 2em;
  padding: 0.5em;
  /* background-color: hotpink; */
}

h3 {
  font-size: 1.5em;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.link-even {
  color: var(--white-color);
}

.link-odd {
  color: var(--black-color);
}

footer {
  height: 10em;
  background-color: var(--primary-color-1);
  color: var(--white-color);
}

/* Breakpoint op 750px max width */
